body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ddd;
  padding: .25rem 2rem;
}

header a {
  border-bottom: 2px solid transparent;
  margin-right: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover {
  animation-name: nav;
  animation-duration: 1s;
  border-bottom: 3px dotted black;
}

.logo {
  border-bottom: none;
  font-family: 'Grenze Gotisch', cursive;
  font-size: 3rem;
  text-transform: capitalize;
}

a.logo:hover {
  border-bottom: 3px hidden transparent;
}

h1 {
  font-family: 'Castoro', serif;
  font-size: 3rem;
  font-weight: 400;
}

h1.full-bleed {
  text-align: center;
}

.date {
  color: #bbb;
}

article {
  margin-top: 3rem;
}

article img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  grid-column-gap: .25rem;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

@keyframes nav {
  from {border-color: transparent;}
  to {border-color: black;}
}