body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ddd;
}

article img {
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}