---
title: Midnight Cheese Blog
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cheese.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <header><a href="/" title="Home">Midnight Cheese</a></header>
    <nav></nav>
    {{ content | safe }}
    <footer></footer>
  </body>
</html>
