---
layout: page.njk
---
    <main>
      <article class="wrapper">
        {{ content | safe }}
        <div id="disqus_thread"></div>
      </article>
    </main>
    <script>
        var disqus_config = function () {
        this.page.url = "https://midnightcheese.com/{{ page.date | formatDisqusDate }}/{{ page.fileSlug }}/"
        this.page.identifier = "https://midnightcheese.com/{{ page.date | formatDisqusDate }}/{{ page.fileSlug }}/"
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://midnightcheese.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>